/** MAIN HEADER  ********************************************/
.mainHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: var(--page-margin);
    align-items: center;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-big);
}
.mainHeader > * {
    justify-self: end;
}
.mainHeader > *:first-child {
    justify-self: start;
}
.mainHeader > *:nth-child(2) {
    justify-self: center;
}
.navMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/** stack navigation under logo */
@media screen and (max-width: 1200px) and (min-width: 768px) {
    .mainHeader {
        grid-template-columns: auto auto;
    }
    .mainHeader > .logoContainer {
        grid-row: 1;
        grid-column: 1;
        justify-self: start;
    }
    .mainHeader > .reservationButton {
        grid-row: 1;
        grid-column: 2;
    }
    .mainHeader > .navMainContainer {
        grid-row: 2;
        grid-column: 1 / span 2;
        justify-self: center;
        margin-top: 2em;
    }
    
}
@media screen and (max-width: 768px) {
    .mainHeader {
        grid-template-columns: auto min-content;
    }
    .mainHeader > .reservationButton {
        display: none;
    }
    .mainHeader .logoContainer {
        justify-self: flex-start;
    }
    .mainHeader .logo {
        max-width: 72vw;
        height: auto;
    }
    .navMainContainer {
        display: none;
    }
}
/** MOBILE MENU    ******************************************/
.menuButton {
    display: none;
}
@media screen and (max-width: 768px) {
    .menuButton {
        display: block;
    }
}
.mobileMenu {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: flex-end;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 2em;
    font-size: var(--font-size-xx-big);
    /* font-weight: var(--font-weight-bold); */
    line-height: var(--line-height-normal);
    /* letter-spacing: var(--letter-spacing-big); */
}
.navMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 0 !important;
    row-gap: 1em;
}