.container {
    display: grid;
    grid-template-columns: 50% auto;
    max-width: 1100px;
    gap: 10%;
    margin: 3vw auto;
}
.image {
    object-fit: cover;
    aspect-ratio: 3/2;
    width: 100%;
}
.image:nth-child(2) {
    margin-top: 33%;
    aspect-ratio: 1/1;
}
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 53% auto;
        column-gap: 3%;
    }
}