.container {
    max-width: var(--max-width-readable);
    margin: 2em var(--page-margin);
}
@media screen and (min-width: 1280px) {
    .container {
        width: min(70vw, 1500px);
        margin-left: auto;
        margin-right: auto;
    }
}