.container {
  position: fixed;
  margin-inline: auto;
  bottom: var(--page-margin);
  left: var(--page-margin);
  right: var(--page-margin);
  padding: 1em;
  z-index: 2000;
  max-width: 1024px;
  background: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(10px);
  color: var(--color-font) !important;
  border-radius: 0.5em !important;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  gap: 1em;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
.buttons .accept,
.buttons .decline {
  padding: 0.4em !important;
  border-radius: 0 !important;
  border: 1px solid !important;
  border-radius: 0.3em !important;
  min-width: 12em !important;
}
.buttons .accept {
  background: green !important;
  color: var(--color-white) !important;
  border-color: green !important;
}
.buttons .decline {
  background: none !important;
  color: var(--color-font-bright-3) !important;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 1em;
    padding: 1em 2em;
  }
  .buttons {
    justify-content: center;
    flex-wrap: wrap;
  }
}
