.container {
  display: grid;
  grid-template-columns: 50% auto;
  max-width: 1100px;
  gap: 10%;
  margin: 3vw auto;
}
.image {
  object-fit: cover;
  aspect-ratio: 3/2;
  width: 100%;
  height: auto;
}
.image:nth-child(2) {
  margin-top: 33%;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 3vw;
    gap: 1rem;
  }
  .image {
    width: 66vw;
    align-self: flex-start;
    margin: 0 !important;
  }
  .image:nth-child(2) {
    align-self: flex-end;
  }
}
